---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SEOHead from '../components/SEOHead.astro';
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
  ogType?: string;
  publishedDate?: Date;
  wide?: boolean;
}

const { title, description, ogType, publishedDate, wide = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEOHead title={title} description={description} ogType={ogType} publishedDate={publishedDate} />
  </head>
  <body>
    <Header />
    <main class:list={[{ wide }]}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
